.header{
    height: 100px;
    width: 1338px;
    border: solid 1px rgb(252, 246, 246);
    margin: auto;
    background-color: #ff9d09;
}
.logo{
    height: 79px;
    width: 100px;
    border: solid 1px rgb(231, 225, 225);
    text-align: center;
    padding-top: 20px;
    float:left
}
.logo_text{
    height: 69px;
    width: 393.5px;
    border: solid 1px rgb(252, 246, 246);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    float:left;
    text-align: center;
    padding-top: 30px; 
    letter-spacing: 2px;
    font-weight:bold;
    color: #faf9f8;
}
.menu{
    height: 99px;
    width: 838px;
    border: solid 1px rgb(252, 246, 246);
    float: left;
    
}
.outer_ul{
    list-style: none;
}
.menu_item{
    border: solid 2px rgb(252, 246, 246);
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 5px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 20px;
    background-color: #f7bc4f;
}

.contact_section{
    height: auto;
    width: 1200px;
    margin: auto;
    border: solid 2px black;
    margin-top: 30px;
}

.col_border{
    /* border: solid 2px black; */
    padding: 30px;

}

input , select{
    height:30px;
    width:300px;
    border-radius: 10px;
    margin: 5px;
}

textarea{
    height:70px;
    width:300px;
    border-radius: 10px;
    margin: 5px;
}

button{
    margin-top: 20px;
    margin-left: 150px;
}

.section_last{
    height: 230px;
    width: 1338px;
    background-color: #fff59b;
    text-align: center;
    padding-top: 20px;
    margin: auto;
    border: solid 1px #fff59b;
    margin-top: 20px;
}